extends ../layout

block content 
    h1= title 

    form(action="", method="post") 
        div 
            label(for='name') Name: 
            br
            input#name(type="text", name="name" value=(category!==undefined  ? category.name : ''))
        div 
            label(for='description') Description: 
            br
            textarea#description(type="text", name="description")= category!==undefined ? category.description : ''

        if action === 'update'
            div 
                h3 Enter admin password to update item
                input(type="password" name='adminPassword' placeholder='admin password' style='width: 10rem')

        button(type="submit")= title

        if errors
            ul 
                for error in errors 
                    li!= error.msg
