extends ../layout

block content
    h1 Categories in inventory

    div
        ul
            each category in categoryList 
                li
                    a(href=category.url) #[strong #{category.name}]
            
            else
                li There are no categories in inventory