body {
  padding: 20px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

nav ul {
  list-style-type: none; 
  margin: 0;
  padding: 0;
  display: flex;
  gap: 5rem;
}

nav ul div {
  display: flex;
  gap: 2rem;
}

nav li a {
  font-size: 0.9rem;
}

a {
  text-decoration: none;
  color: #fa5616;
}
